#textdomain wesnoth-aoi

#define BUILD_VILLAGE
    [build_the_village]
        [filter]
            id = Bordal, Todor, Venderon
        [/filter]
        object_id = archery
        x = 5, 6
        y = 1, 1
        terrain = Gs^Ve
    [/build_the_village]
#enddef


[scenario]
    id=the_village
    name= _ "Xendaria"
    map_data="{~add-ons/Campaign-of-the-3-kings/maps/Xendaria.map}"
    turns=30

    next_scenario=null
    carryover_add=yes
    carryover_percentage=20
    {MUSIC_WIN_LOST}

    
    {SCENARIO_MUSIC       strangeness.ogg}
    {EXTRA_SCENARIO_MUSIC setting_sun.ogg}
    {EXTRA_SCENARIO_MUSIC stalemate.ogg}
    {EXTRA_SCENARIO_MUSIC dark_clouds.ogg}
	{DEFAULT_SCHEDULE}

    

    #side 1
    [side]
        side=1
        controller=human
        {GOLD 100 75 50}
        income=-1
        team_name=Friends
        user_team_name= _ "Barátok"
        {FLAG_VARIANT wood-elvish}
        {CHARACTER_STATS_BORDAL}
        facing=nw
    [/side]

    #side 2
    [side]
        side=2
        controller=human
        {GOLD 100 75 50}
        income=-1
        team_name=Friends
        user_team_name= _ "Barátok"
        {FLAG_VARIANT wood-elvish}
        {CHARACTER_STATS_VENDERON}
        facing=nw
    [/side]

    #side 3
    [side]
        side=3
        controller=human
        {GOLD 100 75 50}
        income=-1
        team_name=Friends
        user_team_name= _ "Barátok"
        {FLAG_VARIANT wood-elvish}
        {CHARACTER_STATS_TODOR}
        facing=nw
    [/side]

    #prestart
    [event]
        name=prestart
        {BUILD_VILLAGE}
        [objectives]
            side=1,2,3
            [objective]
                description= _ "Megakadályozod Zorakhul elmenekülését az Észak keleti völgy kijáraton"
                condition=win
            [/objective]
            [objective]
				description= _ "Todor meghal"
				condition=lose
			[/objective]
			[objective]
				description= _ "Venderon meghal"
				condition=lose
			[/objective]
			[objective]
				description= _ "Bordal meghal"
				condition=lose
			[/objective]
            [gold_carryover]
                bonus=yes
                carryover_percentage=20
            [/gold_carryover]
        [/objectives]
    [/event]

    #start
    [event]
        name=start
        
    [/event]
    
    {HERODEATH_TODOR}
    {HERODEATH_BORDAL}
    {HERODEATH_VENDERON}
    {ZABUZA}
[/scenario]