#define ABILITY_AMBUSH_SWAMP
    [hides]
        id=ambush_swamp
        name= _ "ambush swamp"
        female_name= _ "female^ambush"
        description= _ "This unit can hide in swamp, and remain undetected by its enemies.

Enemy units cannot see this unit while it is in swamp, except if they have units next to it. Any enemy unit that first discovers this unit immediately loses all its remaining movement."
        special_note={INTERNAL:SPECIAL_NOTES_AMBUSH}
        affect_self=yes
        [filter]
            [filter_location]
                terrain=S*
            [/filter_location]
        [/filter]
    [/hides]
#enddef

#define ABILITY_AMBUSH_MOUNTAINS
    [hides]
        id=ambush_mountains
        name= _ "ambush mountains"
        female_name= _ "female^ambush"
        description= _ "This unit can hide in mountains, and remain undetected by its enemies.

Enemy units cannot see this unit while it is in mountains, except if they have units next to it. Any enemy unit that first discovers this unit immediately loses all its remaining movement."
        special_note={INTERNAL:SPECIAL_NOTES_AMBUSH}
        affect_self=yes
        [filter]
            [filter_location]
                terrain=M*
            [/filter_location]
        [/filter]
    [/hides]
#enddef

#define ABILITY_AMBUSH_HILLS
    [hides]
        id=ambush_hills
        name= _ "ambush hills"
        female_name= _ "female^ambush"
        description= _ "This unit can hide in hills, and remain undetected by its enemies.

Enemy units cannot see this unit while it is in hills, except if they have units next to it. Any enemy unit that first discovers this unit immediately loses all its remaining movement."
        special_note={INTERNAL:SPECIAL_NOTES_AMBUSH}
        affect_self=yes
        [filter]
            [filter_location]
                terrain=H*
            [/filter_location]
        [/filter]
    [/hides]
#enddef

#define ABILITY_AMBUSH_CASTLE
    [hides]
        id=ambush_castle
        name= _ "ambush castle"
        female_name= _ "female^ambush"
        description= _ "This unit can hide in castle, and remain undetected by its enemies.

Enemy units cannot see this unit while it is in castle, except if they have units next to it. Any enemy unit that first discovers this unit immediately loses all its remaining movement."
        special_note={INTERNAL:SPECIAL_NOTES_AMBUSH}
        affect_self=yes
        [filter]
            [filter_location]
                terrain=C*
            [/filter_location]
        [/filter]
    [/hides]
#enddef

#define WEAPON_SPECIAL_LETHAL_POISON
    [dummy]
        id=lethal_poison
        name= _ "halálos méreg"
        description= _ "Ez az egység mérget juttat az ellenfélbe, amely minden kör elején 12 sebzést okoz, és végzetes is lehet."
    [/dummy]
#enddef

#define WEAPON_SPECIAL_SHARPSHOOTING
    [dummy]
        id=sharpshooting
        name= _ "Sharpshooting"
        description= _ "If this attack misses, then increase accuracy of next shoot. (Value 5%, stackable)"
    [/dummy]
#enddef

#define ABILITY_AURA_OF_FIRE
    [dummy]
        id=aura_of_fire
        name= _ "aura of fire"
        description= _ "Deal 4 fire damage units around, doesn't matte allies or enemis"
    [/dummy]
#enddef

#define ABILITY_AURA_OF_PROTECTION
    [resistance]
        id=aura_of_protection
        name= _ "aura of protection"
        description= _ "Allies gain 20% resistance against cold, fire, and magical damage, aura of fire ability damage only units of enemy."
        affect_self=yes
        affect_allies=yes
        affect_enemies=no
        #  halo_image=#TODO
        min_value = 10
        comulative = yes
        add = 20
        apply_to=fire, cold, arcane
        [affect_adjacent]
            adjacent = n,ne,se,s,sw,nw
        [/affect_adjacent]
    [/resistance]
#enddef

#define ABILITY_AURA_OF_DEFENSE
    [resistance]
        id=aura_of_defense
        name= _ "aura of defense"
        description= _ "Allies gain 10% defense"
        affect_self=yes
        affect_allies=yes
        affect_enemies=no
        #  halo_image=#TODO
        min_value = 10
        comulative = yes
        add = 10
        [affect_adjacent]
            adjacent = n,ne,se,s,sw,nw
        [/affect_adjacent]
    [/resistance]
#enddef
