#define SET_LEVELS_VARIABLE START
    [event]
        name = unit placed
        first_time_only=no
        [filter]
            type=Hero
        [/filter]
        [if]
            [variable]
                name=unit.variables.levels
                equals=$empty
            [/variable]
            [then]
                [modify_unit]
                    [filter]
                        id=$unit.id
                    [/filter]
                    [object]
                        id=start_pack
                        [effect]
                            apply_to=new_attack
                            name=knife
                            description= _ "Knife"
                            type=pierce
                            icon=attacks/dagger-curved.png
                            range=melee
                            damage=4
                            number=2
                        [/effect]
                        [effect]
                            apply_to=variable
                            name=levels
                            set={START}
                        [/effect]
                    [/object]
                [/modify_unit]
            [/then]
        [/if]
    [/event]
#enddef

#define HP_INCREASE_EFFECT HP
    [effect]
        apply_to=hitpoints
        increase_total={HP}
        increase={HP}
    [/effect]
#enddef

#define LEVEL_INCREMENT
    [effect]
        apply_to=variable
        name=levels
        add=1
    [/effect]
#enddef

#define LEVEL_1_ADVANCEMENT
    [advancement]
        id=increase_damage
        description= _ "Increase knife damage"
        image=attacks/dagger-curved.png
        max_times=10
        [effect]
            apply_to=attack
            increase_damage=1
        [/effect]
        {HP_INCREASE_EFFECT 3}
        {LEVEL_INCREMENT}
    [/advancement]

    [advancement]
        id=increase_attacks
        description= _ "Increase number of attacks"
        image=attacks/dagger-curved.png
        max_times=2
        [effect]
            apply_to=attack
            increase_attacks=1
        [/effect]
        {HP_INCREASE_EFFECT 3}
        {LEVEL_INCREMENT}
    [/advancement]

    [advancement]
        id=increase_speed
        description= _ "Increase movement speed"
        image=attacks/foot-shoe.png
        max_times=1
        [effect]
            apply_to=movement
            increase=1
        [/effect]
        {HP_INCREASE_EFFECT 3}
        {LEVEL_INCREMENT}
    [/advancement]

    [advancement]
        id=blade_resistance
        description= _ "Gain +10% resistance against blade attacks"
        image=attacks/sword-elven.png
        max_times=1
        [filter]
            [resistance]
                blade=60
            [/resistance]
            [not]
                [filter_wml]
                    [modifications]
                        [advancement]
                            id=impact_resistance
                        [/advancement]
                    [/modifications]
                [/filter_wml]
            [/not]
            [not]
                [filter_wml]
                    [modifications]
                        [advancement]
                            id=pierce_resistance
                        [/advancement]
                    [/modifications]
                [/filter_wml]
            [/not]
        [/filter]
        [effect]
            apply_to=resistance
            [resistance]
                blade=-10
            [/resistance]
        [/effect]
        {HP_INCREASE_EFFECT 3}
        {LEVEL_INCREMENT}
    [/advancement]

    [advancement]
        id=pierce_resistance
        description= _ "Gain +10% resistance against piercing attacks"
        image=attacks/dagger-thrown-human.png
        max_times=1
        [filter]
            [resistance]
                pierce=60
            [/resistance]
            [not]
                [filter_wml]
                    [modifications]
                        [advancement]
                            id=impact_resistance
                        [/advancement]
                    [/modifications]
                [/filter_wml]
            [/not]
            [not]
                [filter_wml]
                    [modifications]
                        [advancement]
                            id=blade_resistance
                        [/advancement]
                    [/modifications]
                [/filter_wml]
            [/not]
        [/filter]
        [effect]
            apply_to=resistance
            [resistance]
                pierce=-10
            [/resistance]
        [/effect]
        {HP_INCREASE_EFFECT 3}
        {LEVEL_INCREMENT}
    [/advancement]

    [advancement]
        id=impact_resistance
        description= _ "Gain +10% resistance against impact attacks"
        image=attacks/club.png
        max_times=1
        [filter]
            [resistance]
                impact=60
            [/resistance]
            [not]
                [filter_wml]
                    [modifications]
                        [advancement]
                            id=pierce_resistance
                        [/advancement]
                    [/modifications]
                [/filter_wml]
            [/not]
            [not]
                [filter_wml]
                    [modifications]
                        [advancement]
                            id=blade_resistance
                        [/advancement]
                    [/modifications]
                [/filter_wml]
            [/not]
        [/filter]
        [effect]
            apply_to=resistance
            [resistance]
                impact=-10
            [/resistance]
        [/effect]
        {HP_INCREASE_EFFECT 3}
        {LEVEL_INCREMENT}
    [/advancement]

    [advancement]
        id=hp_increase
        description= _ "Increase max HP"
        image=icons/amla-default.png
        max_times=2
        {HP_INCREASE_EFFECT 8}
        {LEVEL_INCREMENT}
    [/advancement]
#enddef

#define FIGHTER_ADVANCEMENT

#enddef