#define HP_INCREASE_EFFECT HP
    [effect]
        apply_to=hitpoints
        increase_total={HP}
        increase={HP}
    [/effect]
#enddef

#define LEVEL_1_ADVANCEMENT
    [advancement]
        id=increase_damage
        description= _ "Increase knife damage"
        image=attacks/dagger-curved.png
        max_times=10
        [effect]
            apply_to=attack
            increase_damage=1
        [/effect]
        {HP_INCREASE_EFFECT 3}
    [/advancement]

    [advancement]
        id=increase_attacks
        description= _ "Increase number of attacks"
        image=attacks/dagger-curved.png
        max_times=2
        [effect]
            apply_to=attack
            increase_attacks=1
        [/effect]
        {HP_INCREASE_EFFECT 3}
    [/advancement]

    [advancement]
        id=increase_speed
        description= _ "Increase movement speed"
        image=attacks/foot-shoe.png
        max_times=1
        [effect]
            apply_to=movement
            increase=1
        [/effect]
        {HP_INCREASE_EFFECT 3}
    [/advancement]

    [advancement]
        id=blade_resistance
        description= _ "Gain +10% resistance against blade attacks"
        image=atacks/sword.png
        max_times=1
        exclude_amla=pierce_resistance, impact_resistance
        [filter]
            formula="resistance.blade >= 60"
        [/filter]
        [effect]
            apply_to=resistance
            [resistance]
                blade=-10
            [/resistance]
        [/effect]
        {HP_INCREASE_EFFECT 3}
    [/advancement]

    [advancement]
        id=pierce_resistance
        description= _ "Gain +10% resistance against piercing attacks"
        image=atacks/dagger-thrown-human.png
        max_times=1
        exclude_amla=blade_resistance, impact_resistance
        [filter]
            formula="resistance.pierce >= 60"
        [/filter]
        [effect]
            apply_to=resistance
            [resistance]
                pierce=-10
            [/resistance]
        [/effect]
        {HP_INCREASE_EFFECT 3}
    [/advancement]

    [advancement]
        id=impact_resistance
        description= _ "Gain +10% resistance against impact attacks"
        image=atacks/club.png
        max_times=1
        exclude_amla=pierce_resistance, blade_resistance
        [filter]
            formula="resistance.imapct >= 60"
        [/filter]
        [effect]
            apply_to=resistance
            [resistance]
                impact=-10
            [/resistance]
        [/effect]
        {HP_INCREASE_EFFECT 3}
    [/advancement]

    [advancement]
        id=hp_increase
        description= _ "Increase max HP"
        image=icons/amla-default.png
        max_times=2
        {HP_INCREASE_EFFECT 8}
    [/advancement]
#enddef