#define CHARACTER_LEADERSHIP_Cot3K
[abilities]
	[leadership]
        id=hadvezetes
        value="((level * 10 + 30) - (other.level * 10))"
        cumulative=yes
        name= _ "Hadvezetés"
        female_name= _ "female^hadvezetés"
        description= _ "This unit can lead your own units that are next to it, making them fight better."
		affect_self=no
		affect_allies=yes
        [affect_adjacent]
            [filter]
                formula="5 > level"
            [/filter]
        [/affect_adjacent]
    [/leadership]
[/abilities]
#enddef

#define CHARACTER_STATS_BORDAL
    [leader]
        type=Hero
        variation=1
        id=Bordal
        name= _ "Enrir"
        profile=portraits/bordal.png
        extra_recruit="Spearman,Fencer,Heavy Infantryman,Bowman"
        unrenamable=yes
    [/leader]
#enddef

#define CHARACTER_STATS_VENDERON
    [leader]
        type=Hero
        variation=2
        id=Venderon
        name= _ "Librion"
        profile=portraits/venderon.png
        extra_recruit="Spearman,Fencer,Heavy Infantryman,Bowman"
        unrenamable=yes
    [/leader]
#enddef

#define CHARACTER_STATS_TODOR
    [leader]
        type=Hero
        variation=3
        id=Todor
        name= _ "Kaldor"
        profile=portraits/todor.png
        extra_recruit="Spearman,Fencer,Heavy Infantryman,Bowman"
        unrenamable=yes
    [/leader]
#enddef

#define ZABUZA
    [event]
        name=start
        [recall]
            id=Zabuza
        [/recall]
        [modify_unit]
            [filter]
                id=Zabuza
            [/filter]
            canrecruit=yes
            extra_recruit="Thief,Poacher,Footpad,Thug"
        [/modify_unit]
    [/event]
    [event]
        name=recall
        [filter]
            id=Zabuza
        [/filter]
        [message]
            speaker=Zabuza
            message= _ "Itt vagyok, uram, és az embereim is várják a harcot."
        [/message]
    [/event]

    [event]
        name=last breath
        [filter]
            id=Zabuza
        [/filter]
        [message]
            speaker=Zabuza
            message= _ "Rohadt életbe.... Pedig mennyi... zsákmány várt ... rám...."
        [/message]
    [/event]
#enddef

#define CHARACTER_STATS_ZORAKHUL
    type=Lich
    id=Zorakhul
    name= _ "Zorakhul"
    canrecruit=yes
    extra_recruit="Chocobone, Ghost, Ghoul, Skeletal Dragon, Skeleton, Skeleton Archer, Walking Corpse, Soulless, Shadow, Wraith, Necrophage, Deathblade, Revenant, Bone Shooter"
    unrenamable=yes
#enddef