#textdomain wesnoth-aoi

#define SUMMONING_SKELETONS SUMMONER
        [filter]
            [not]
                race=undead
            [/not]
        [/filter]
        [if]
            [variable]
                name=unit.undead_variation
                equals=mounted
            [/variable]
            [then]
                [modify_unit]
                    [filter]
                        id=$unit.id
                    [/filter]
                    type=Chocobone
                    side=$unit.side
                [/modify_unit]
            [/then]
            [elseif]
                [variable]
                    name=unit.usage
                    equals=archer
                [/variable]
                [then]
                    [modify_unit]
                        [filter]
                            id=$unit.id
                        [/filter]
                        type=Skeleton Archer
                        side={SUMMONER}.side
                    [/modify_unit]
                [/then]
            [/elseif]
            [elseif]
                [variable]
                    name=unit.usage
                    equals=mixed fighter
                [/variable]
                [then]
                    [modify_unit]
                        [filter]
                            id=$unit.id
                        [/filter]
                        type=Ghost
                        side={SUMMONER}.side
                    [/modify_unit]
                [/then]
            [/elseif]
            [else]
                [modify_unit]
                    [filter]
                        id=$unit.id
                    [/filter]
                    type=Skeleton
                    side={SUMMONER}.side
                [/modify_unit]
            [/else]
        [/if]
        [message]
            speaker=$unit.id
            message= _ "Krcsss, klakk, lkalk...."
        [/message]
#enddef


#define MUSIC_WIN_LOST
    victory_music=akatsuki.ogg
    defeat_music=tragic.ogg
#enddef

#define ZORAKHUL_SUMMON
    [event]
        name=last breath
        first_time_only=no
        [if]
            [variable]
                name=can_summoning
                boolean_equals=true
            [/variable]
            [then]
                [fire_event]
                    name=transforming_unit_to_skeleton
                    [primary_unit]
                        id=$unit.id
                    [/primary_unit]
                [/fire_event]
            [/then]
        [/if]
    [/event]

    [event]
        name=transforming_unit_to_skeleton
        first_time_only=no
        [store_unit]
            [filter]
                id=Zorakhul
            [/filter]
            variable=summoner
        [/store_unit]
        {SUMMONING_SKELETONS $summoner}
    [/event]
#enddef

#define ABILITY_LEADERSHIP_LEVEL_5
    [leadership]
        id=hadvezetes
        value="(25 * (level - other.level))"
        cumulative=yes
        name= _ "Hadvezetés"
        female_name= _ "female^hadvezetés"
        description= _ "This unit can lead your own units that are next to it, making them fight better."
        affect_self=no
        affect_allies=yes
        [affect_adjacent]
            [filter]
                formula="level < other.level"
            [/filter]
        [/affect_adjacent]
    [/leadership]
#enddef

#define UNIT_INITIALIZATION
    [event]
        name=unit placed
        first_time_only=no

        [filter]
            type=Hero
        [/filter]

        [if]
            [variable]
                name=hero_initialized
                exists=no
            [/variable]
            [then]
                [modify_unit]
                    [filter]
                        id=$unit.id
                    [/filter]
                    [effect]
                        apply_to=variable
                        name=levels
                        set=0
                    [/effect]
                    [effect]
                        apply_to=variable
                        name=resistance
                        set=0
                    [/effect]
                    [effect]
                        apply_to=variable
                        name=class
                        set=base
                    [/effect]
                    [effect]
                        apply_to=variable
                        name=hero_initialized
                        set=yes
                    [/effect]
                [/modify_unit]
            [/then]
        [/if]
    [/event]
#enddef

#define TANK_DEFENSE
    #Tank defense ability
    [event]
        id=tank_defense_event
        name=turn refresh
        first_time_only=no
        [modify_unit]
            [filter]
                side=$side_number
                [filter_adjacent]
                    ability=tank_defense
                    is_enemy=yes
                [/filter_adjacent]
            [/filter]
            moves=1
        [/modify_unit]
    [/event]
#enddef

#define TRACKER_MOVE_ABILITY
    #Tracker move ability
    [event]
        name=turn refresh
        first_time_only=no
        id=qomf_reset
        [quick_on_my_feet]
            unit_id=$item.id
            mode=reset
        [/quick_on_my_feet]
    [/event]
    [event]
        name=moveto
        first_time_only=no
        id=qomf_update
        [filter]
            ability=quick_on_my_feet
        [/filter]
        [quick_on_my_feet]
            unit_id=$unit.id
            mode=moved
        [/quick_on_my_feet]
    [/event]
#enddef

#define SHARPSHOOTING
    # Sharpshooting
    [event]
        name=attacker hits, attack end
        first_time_only=no
        id=sharpshooting_reset
        [filter_attack]
            special_id=sharpshooting
        [/filter_attack]
        [sharpshooting]
            unit_id=$unit.id
            weapon_name=$weapon.name
            mode=set
            value=0
        [/sharpshooting]
    [/event]
    [event]
        name=attacker misses
        first_time_only=no
        id=sharpshooting_increment
        [filter_attack]
            special_id=sharpshooting
        [/filter_attack]
        [sharpshooting]
            unit_id=$unit.id
            weapon_name=$weapon.name
            mode=increase
            value=1
        [/sharpshooting]
    [/event]
#enddef

#define MASTER_ASSASSIN_LETHAL_POISON
    # Master assassin - Lethal Poison
    [event]
        name=attacker hits
        first_time_only=no
        id=apply_lethal_poison
        [filter_attack]
            special=lethal_poison
        [/filter_attack]

        [modify_unit]
            [filter]
                id=$second_unit.id
            [/filter]
            [status]
                poisoned_lethal=yes
            [/status]
        [/modify_unit]
    [/event]
    [event]
        name=side turn
        first_time_only=no
        id=lethal_poison_effect_and_cure
        [store_unit]
            [filter]
                side=$side_number
                status=poisoned_lethal
            [/filter]
            variable=poisoned_units
        [/store_unit]

        {FOREACH poisoned_units i}
            [if]
                [have_unit]
                    id=$poisoned_units[$i].id
                    [filter_location]
                        terrain=*^V*
                    [/filter_location]
                [/have_unit]
                [or]
                    [have_unit]
                        id=$poisoned_units[$i].id
                        [filter_adjacent]
                            ability=healing
                        [/filter_adjacent]
                    [/have_unit]
                [/or]
                [then]
                    # CURE: Ha a gyógyulás feltételei teljesülnek, a státusz törlődik.
                    [modify_unit]
                        [filter]
                            id=$poisoned_units[$i].id
                        [/filter]
                        [status]
                            poisoned_lethal=no
                        [/status]
                    [/modify_unit]
                [/then]
                [else]
                    # DAMAGE: Ha nem gyógyul, akkor sebződik.
                    [harm_unit]
                        [filter]
                            id=$poisoned_units[$i].id
                        [/filter]
                        amount=12
                        damage_type=poison
                        kill=yes
                        animate=yes
                    [/harm_unit]
                [/else]
            [/if]
        {NEXT i}
        
        [clear_variable]
            name=poisoned_units
        [/clear_variable]
    [/event]
#enddef

#define AURA_OF_FIRE_SIMPLE
    #Aura of fire - simple
    [event]
        name=side turn
        first_time_only=no
        id=aura_of_fire
        [aura_of_fire_damage]
            side=$side_number
            damage = 8
        [/aura_of_fire_damage]
    [/event]
#enddef
