# blade, pierce, impact, fire, cold, and arcane

#define ARCHERY_OBJECT 
    [object]
        id = archery
        [effect]
            apply_to = new_advancement
            [advancement]
                id=bow
                description= _ "Add new ranged bow attack"
                image = # TODO
                max_times = 1
                [effect]
                    apply_to = new_attack
                    [attack]
                        name=bow
                        description=_"Bow"
                        type=pierce
                        range=range
                        damage=4
                        number=1
                        icon=attacks/sword-elven.png #TODO
                    [/attack]
                [/effect]
            [/advancement]
            
            [advancement]
                id = bow_damage
                description = _ "Increase the damage of the bow"
                imgage = attacks/sword-elven.png # TODO
                max_times = -1
                {HEAL_EFFECTS_ULTIMATE}
                {XP_INCREASE_EFFECT_ULTIMATE}
                [effect]
                    apply_to = attack
                    name = bow
                    increase_damage = 1
                [/effect]
            [/advancement]

            [advancement]
                id = bow_attack
                description = _ "Increase the attack count of the bow, but reduce its damage"
                image = attacks/sword-elven.png # TODO
                max_times = 5
                {HEAL_EFFECTS_ULTIMATE}
                {XP_INCREASE_EFFECT_ULTIMATE}
                [effect]
                    apply_to = increment_attack
                    name = bow
                [/effect]
            [/advancement]
        [/effect]
    [/object]
#enddef
