#textdomain wesnoth-units

[unit_type]
    id=Hero_Fighter_Arcane_Knight
    name= _ "Hero"
    race=human
    image="units/elves/noble.png"
    profile="portraits/bordal.png"
    hitpoints=10
    movement_type=smallfoot
    movement=5
    experience=90
    level=3
    alignment=neutral
    advances_to=null
    cost=12
    usage="fighter"
	jamming=1
    description= _ ""
    die_sound={SOUND_LIST:HUMAN_DIE}

    [attack]
        name=knife
        description= _ "Knife"
        type=pierce
        icon=attacks/dagger-curved.png
        range=melee
        damage=4
        number=2
    [/attack]

    [attack]
        name=sword
        description= _ "Sword"
        icon=attacks/longsword.png
        damage=10
        number=4
        type=blade
        range=melee
    [/attack]
    
    {ARCANE_KNIGHT_ADVANCEMENT}
    
    [variation]
        variation_id=1
        variation_name= _ "Hero 1"
        inherit=yes
        image=units/brother1.png
    [/variation]
    
    [variation]
        variation_id=2
        variation_name= _ "Hero 2"
        inherit=yes
        image=units/brother2.png
    [/variation]
    
    [variation]
        variation_id=3
        variation_name= _ "Hero 3"
        inherit=yes
        image=units/brother3.png
    [/variation]

    {UNIT_INITIALIZATION}
    {MAGICAL_REFLECTION}
[/unit_type]