#textdomain wesnoth-units

[unit_type]
    id=Hero
    name= _ "The Rookie"
    race=human
    image="units/elves/noble.png"
    profile="portraits/bordal.png"
    hitpoints=10
    movement_type=woodland
    movement=5
    experience=10
    level=1
    alignment=neutral
    advances_to=null
    cost=12
    usage="mixed fighter"
	jamming=1
    description= _ ""
    die_sound={SOUND_LIST:HUMAN_DIE}

    [attack]
        name=knife
        description= _ "Knife"
        type=pierce
        icon=attacks/dagger-curved.png
        range=melee
        damage=4
        number=2
    [/attack]
    
    {LEVEL_1_ADVANCEMENT}

    #Unit initialization
    [event]
        name=unit placed
        first_time_only=no
    
        [filter]
            type=Hero
        [/filter]

        [modify_unit]
            [filter]
                id=$unit.id
            [/filter]
            [effect]
                apply_to=variable
                name=levels
                set=0
            [/effect]
            [effect]
                apply_to=variable
                name=resistance
                set=0
            [/effect]
            [effect]
                apply_to=variable
                name=class
                set=base
            [/effect]
        [/modify_unit]
    [/event]

    #Tank defense ability
    [event]
        id=tank_defense_event
        name=turn refresh
        first_time_only=no
        [modify_unit]
            [filter]
                side=$side_number
                [filter_adjacent]
                    ability=tank_defense
                    is_enemy=yes
                [/filter_adjacent]
            [/filter]
            moves=1
        [/modify_unit]
    [/event]

    #Tracker move ability
    [event]
        name=turn refresh
        first_time_only=no
        id=qomf_reset
        [quick_on_my_feet]
            unit_id=$item.id
            mode=reset
        [/quick_on_my_feet]
    [/event]
    [event]
        name=moveto
        first_time_only=no
        id=qomf_update
        [filter]
            ability=quick_on_my_feet
        [/filter]
        [quick_on_my_feet]
            unit_id=$unit.id
            mode=moved
        [/quick_on_my_feet]
    [/event]

    # Sharpshooting
    [event]
        name=attacker hits, attack end
        first_time_only=no
        id=sharpshooting_reset
        [filter_attack]
            special_id=sharpshooting
        [/filter_attack]
        [sharpshooting]
            unit_id=$unit.id
            weapon_name=$weapon.name
            mode=set
            value=0
        [/sharpshooting]
    [/event]
    [event]
        name=attacker misses
        first_time_only=no
        id=sharpshooting_increment
        [filter_attack]
            special_id=sharpshooting
        [/filter_attack]
        [sharpshooting]
            unit_id=$unit.id
            weapon_name=$weapon.name
            mode=increase
            value=1
        [/sharpshooting]
    [/event]

    # Master assassin - Lethal Poison
    [event]
        name=attacker hits
        first_time_only=no
        id=apply_lethal_poison
        [filter_attack]
            special=lethal_poison
        [/filter_attack]

        [modify_unit]
            [filter]
                id=$second_unit.id
            [/filter]
            [status]
                poisoned_lethal=yes
            [/status]
        [/modify_unit]
    [/event]
    [event]
        name=side turn
        first_time_only=no
        id=lethal_poison_effect_and_cure
        [store_unit]
            [filter]
                side=$side_number
                status=poisoned_lethal
            [/filter]
            variable=poisoned_units
        [/store_unit]

        {FOREACH poisoned_units i}
            [if]
                [have_unit]
                    id=$poisoned_units[$i].id
                    [filter_location]
                        terrain=*^V*
                    [/filter_location]
                [/have_unit]
                [or]
                    [have_unit]
                        id=$poisoned_units[$i].id
                        [filter_adjacent]
                            ability=healing
                        [/filter_adjacent]
                    [/have_unit]
                [/or]
                [then]
                    # CURE: Ha a gyógyulás feltételei teljesülnek, a státusz törlődik.
                    [modify_unit]
                        [filter]
                            id=$poisoned_units[$i].id
                        [/filter]
                        [status]
                            poisoned_lethal=no
                        [/status]
                    [/modify_unit]
                [/then]
                [else]
                    # DAMAGE: Ha nem gyógyul, akkor sebződik.
                    [harm_unit]
                        [filter]
                            id=$poisoned_units[$i].id
                        [/filter]
                        amount=12
                        damage_type=poison
                        kill=yes
                        animate=yes
                    [/harm_unit]
                [/else]
            [/if]
        {NEXT i}
        
        [clear_variable]
            name=poisoned_units
        [/clear_variable]
    [/event]

    #Aura of fire - simple
    [event]
        name=side turn
        first_time_only=no
        id=aura_of_fire
        [aura_of_fire_damage]
            side=$side_number
            damage = 8
        [/aura_of_fire_damage]
    [/event]
[/unit_type]
