#textdomain wesnoth-units

[unit_type]
    id=Hero
    name= _ "The Rookie"
    race=human
    image="units/elves/noble.png"
    profile="portraits/bordal.png"
    hitpoints=10
    movement_type=woodland
    movement=5
    experience=10
    level=1
    alignment=neutral
    advances_to=null
    cost=12
    usage="mixed fighter"
	jamming=1
    description= _ ""
    die_sound={SOUND_LIST:HUMAN_DIE}

    [attack]
        name=knife
        description= _ "Knife"
        type=pierce
        icon=attacks/dagger-curved.png
        range=melee
        damage=4
        number=2
    [/attack]
    
    {LEVEL_1_ADVANCEMENT}

    [event]
        name=unit placed
        first_time_only=no
    
        [filter]
            type=Hero
        [/filter]

        [modify_unit]
            [filter]
                id=$unit.id
            [/filter]
            [effect]
                apply_to=variable
                name=levels
                set=0
            [/effect]
            [effect]
                apply_to=variable
                name=resistance_1
                set=0
            [/effect]
        [/modify_unit]
    [/event]
[/unit_type]
