#textdomain wesnoth-units

[unit_type]
    id=Hero_Mage_Necromancer
    name= _ "Hero"
    race=undead
    image="units/elves/noble.png"
    profile="portraits/bordal.png"
    hitpoints=10
    movement_type=smallfoot
    movement=5
    experience=90
    level=3
    alignment=chaotic
    advances_to=null
    cost=12
    usage="archer"
	jamming=1
    description= _ ""
    die_sound={SOUND_LIST:HUMAN_DIE}

    [attack]
        name=knife
        description= _ "Knife"
        type=pierce
        icon=attacks/dagger-curved.png
        range=melee
        damage=4
        number=2
        [specials]
            {WEAPON_SPECIAL_PLAGUE}
        [/specials]
    [/attack]

    [attack]
        name=magic
        description= _ "Magic"
        icon=attacks/faerie-fire.png
        damage=8
        number=4
        type=arcane
        range=ranged
        [specials]
            {WEAPON_SPECIAL_MAGICAL}
        [/specials]
    [/attack]

    [abilities]
        {ABILITY_AURA_OF_DECAY}
    [/abilities]
    
    {NEKROMANCER_ADVANCEMENT}
    
    [variation]
        variation_id=1
        variation_name= _ "Hero 1"
        inherit=yes
        image=units/brother1.png

        [attack]
            name=knife
            description= _ "Knife"
            type=pierce
            icon=attacks/dagger-curved.png
            range=melee
            damage=4
            number=2
        [/attack]
    [/variation]
    
    [variation]
        variation_id=2
        variation_name= _ "Hero 2"
        inherit=yes
        image=units/brother2.png

        [attack]
            name=knife
            description= _ "Bot"
            type=impact
            icon=attacks/club.png
            range=melee
            damage=4
            number=2
        [/attack]
    [/variation]
    
    [variation]
        variation_id=3
        variation_name= _ "Hero 3"
        inherit=yes
        image=units/brother3.png

        [attack]
            name=knife
            description= _ "Husáng"
            type=impact
            icon=attacks/club.png
            range=melee
            damage=4
            number=2
        [/attack]
    [/variation]

    {UNIT_INITIALIZATION}
    {REFLECTION}
    {RISE_RISE_RISE}
[/unit_type]