#textdomain wesnoth-units

[unit_type]
    id=Hero
    name= _ "The Rookie"
    race=human
    image="units/elves/noble.png"
    profile="portraits/bordal.png"
    hitpoints=10
    movement_type=woodland
    movement=5
    experience=10
    level=1
    alignment=neutral
    advances_to=null
    cost=12
    usage="mixed fighter"
	jamming=1
    description= _ ""
    die_sound={SOUND_LIST:HUMAN_DIE}
    
    {LEVEL_1_ADVANCEMENT}

    {SET_LEVELS_VARIABLE 0}

    [event]
        name=pre advance
        first_time_only=no
        [filter]
            type=Hero
        [/filter]
        [store_unit]
            [filter]
                id=$unit.id
            [/filter]
            variable=hero_temp
            kill=no
        [/store_unit]
        [if]
            [variable]
                name=hero_temp.variables.levels
                equals=10
            [/variable]
            [then]                    
                [set_variable]
                    name=hero_temp.experience
                    sub=$hero_temp.max_experience
                [/set_variable]
                    
                [unstore_unit]
                    variable=hero_temp
                    find_vacant=no
                    advance=no
                [/unstore_unit]
                {CLEAR_VARIABLE hero_temp}
                [message]
                    speaker=unit
                    message= _ "Choose a new class!"
                    [option]
                        label= _ "Fighter"
                        description= _ "Strong melee abilities"
                        [command]
                            [transform_unit]
                                id=$unit.id
                                transform_to=Hero Fighter
                            [/transform_unit]
                        [/command]
                    [/option]
                    [option]
                        label= _ "Ranger"
                        description= _ "Ranged abilities"
                        [command]
                            [transform_unit]
                                id=$unit.id
                                transform_to=Hero Ranger
                            [/transform_unit]
                        [/command]
                    [/option]
                    [option]
                        label= _ "Mage"
                        description= _ "Magical abilities"
                        [command]
                            [transform_unit]
                                id=$unit.id
                                transform_to=Hero Mage
                            [/transform_unit]
                        [/command]
                    [/option]
                [/message]
            [/then]
        [/if]
    [/event]
[/unit_type]
